.scrollContainer {
  width: 700px;
  height: 400px;
  background-color: floralwhite;
  overflow: scroll;
  margin: 0 auto;
  padding: 10px;
}


.logo {
  font-family: arial;
  font-size: 60px;
  color: darkblue;
  width: 300px;
  height: 250px;
  background-color: lightblue;
  border-style: 2px double darkblue;
  margin: 0 auto;
  padding: 10px;
}
